<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="shortcut icon" type="x-icon" href="M.jpg">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Free Image download</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css">
    <link rel="stylesheet" href="css/free_image_d.css">
    <script src="js/free_image_d.js" defer></script>
    <style>h4{margin: 30px 10px;}</style>
</head>
<body>
    <!--preloader start-->
<div id="preloader-preloader">
<section class="preloader-body-container">
 <div class="preloader-container"><div class="preloader-ring"></div><div class="preloader-ring"></div><div class="preloader-ring"></div>
  <div class="preloader-netflix"><span class="preloader-left"></span><span class="preloader-center-1"></span><span class="preloader-center-2"></span><span class="preloader-right"></span></div>
 <span id="preloader-loding"></span>
 <div class="preloader-point-loader">
   <li class="preloader-ring-loader"></li><li class="preloader-ring-loader"></li><li class="preloader-ring-loader"></li><li class="preloader-ring-loader"></li>
 </div>
</div>
</section>
</div>
    <!--preloader End-->
<nav>
 <div class="logo"><a href="#">MK<span>Coding</span> </a></div>
 <form id="search-form">
  <div class="search-input"><input type="text" name="search" id="search-input" placeholder="Type to Search...">
    <div class="icon search-button"><button type="submit"  style="border: none; font-size: 20px;background: none; cursor: pointer;" ><i class="fas fa-search"></i></button></div></div>
 </form>
<ul class="nav-links" id="navLinks">
 <li class="All"><a class="imageItem active" data-name="all" href="#">All</a></li>
 <li class="Gods"><a class="imageItem" data-name="Gods" href="#">Gods</a></li>
 <li class="Actores"><a class="imageItem" data-name="Actores" href="#">Actores</a></li>
 <li class="Cricketers"><a class="imageItem" data-name="Cricketers" href="#">Cricketers</a></li>
 <li class="Nature"><a class="imageItem" data-name="Nature" href="#">Nature</a></li>
 <li class="Contact"><a href="contactUs">Contact_Us</a></li>
</ul>
<div class="menu" onclick="toggleMenu()"><div class="line"></div><div class="line"></div><div class="line"></div></div>
</nav>
<!-- start main div here -->
<div class="main" id="imgshowhidden">
 <div class="image1"><img src="images/Ellipse 2.png">
 <div class="welcome"><h1>Welcome to <span>MK Studio</span></h1><h5>“Life should be great rather than long”</h5></div>
 </div>
 <div class="imagesection"><div class="image2"><img src="images/Ellipse 1-1.png" alt=""></div>
 <div class="imageBack"><img src="images/Creative team-pana 1.png" alt=""></div>
 <div class="image3"><img src="images/Ellipse 1.png" alt=""></div>
 </div>
</div>
<div class="bluediv"><h3>About Us</h3><h5>“If you believe in living a respectable life, you believe in self-help which is the best help”</h5></div>
<div class="wrapper1">
 <h3>Unlock Creativity with Limitless Images || Elevate Your Designs with Our Free Photos || Picture-Perfect, Priceless Value || Gods in Every Color, Shape, and Faith</h3>
 <h3>Lord Shiva's Pictures , Mahendra Singh Dhoni's Pictures, saha rukh Khan's images, salmankhan's images</h3>
 <h4>Download Free Images</h4>
 <h3>Download Images</h3>
 <div class="gallery" id="links-container">
  <% items.forEach(function(image,index){  %>
  <div class="image logos-img hidden-img blur-load" data-name="<%= image.uploadClass %>">
  <span><img loading="lazy" src="images/black-backGround.png" data-src="data:image/<%=image.img.contentType%>;base64,<%=image.img.data.toString('base64')%>" name="image" /></span>
  <button class="download-image"><i class="fa fa-download"> </i><i class="fa fa-heart"></i><h6 class="countlikes"><%= index + 1 %>.<%= index + 3 %>k</h6></button>
  <h3><%= image.heading %></h3><h4><a href=""><%= image.headinginh4 %></a></h4>
  </div>
  <%
  }) %>
<!--Nature-->
<div class="image logos-img blur-load hidden-img" data-name="Nature"><span><img loading="lazy" src="images/black-backGround.png" data-src="images/img-1.jpg" alt=""></span><button class="download-image"><i class="fa fa-download"></i> <i class="fa fa-heart"></i><h6 class="countlikes">2.6k</h6></button><h4>Loard Shiva</h4></div>
<div class="image logos-img blur-load hidden-img" data-name="Nature"><span><img loading="lazy" src="images/black-backGround.png" data-src="images/img-2.jpg" alt=""></span><button class="download-image"><i class="fa fa-download"> </i><i class="fa fa-heart"></i><h6 class="countlikes">201</h6></button></div>
<div class="image logos-img blur-load hidden-img" data-name="Nature"><span><img loading="lazy" src="images/black-backGround.png" data-src="images/img-3.jpg" alt=""></span><button class="download-image"><i class="fa fa-download"> </i><i class="fa fa-heart"></i><h6 class="countlikes">212</h6></button></div>
<div class="image logos-img blur-load hidden-img" data-name="Nature"><span><img loading="lazy" src="images/black-backGround.png" data-src="images/img-4.jpg" alt=""></span><button class="download-image"><i class="fa fa-download"> </i><i class="fa fa-heart"></i><h6 class="countlikes">9.2k</h6></button></div>
<div class="image logos-img blur-load hidden-img" data-name="Nature"><span><img loading="lazy" src="images/black-backGround.png" data-src="images/img-5.jpg" alt=""></span><button class="download-image"><i class="fa fa-download"> </i><i class="fa fa-heart"></i><h6 class="countlikes">12k</h6></button></div>
<div class="image logos-img blur-load hidden-img" data-name="Nature"><span><img loading="lazy" src="images/black-backGround.png" data-src="images/img-6.jpg" alt=""></span><button class="download-image"><i class="fa fa-download"> </i><i class="fa fa-heart"></i><h6 class="countlikes">23k</h6></button></div>
<div class="image logos-img blur-load hidden-img" data-name="Nature"><span><img loading="lazy" src="images/black-backGround.png" data-src="images/img-6.jpg" alt=""></span><button class="download-image"><i class="fa fa-download"> </i><i class="fa fa-heart"></i><h6 class="countlikes">900k</h6></button></div>
<!--Gods-->
<div class="image logos-img blur-load hidden-img" data-name="Gods"><span><img loading="lazy" src="images/black-backGround.png" data-src="images/kailash_parvat-b6b92c90-4019-4552-95bd-42a3f3097d8a.jpg" alt=""></span><button class="download-image"><i class="fa fa-download"> </i><i class="fa fa-heart"></i><h6 class="countlikes">102</h6></button><h3>Bholenath Image</h3></div>
<div class="image logos-img blur-load hidden-img" data-name="Gods"><span><img loading="lazy" src="images/black-backGround.png" data-src="images/kedarnath_tample-227658d4-3561-459b-9d74-d906031f7b4d.jpg" alt=""></span><button class="download-image"><i class="fa fa-download"> </i><i class="fa fa-heart"></i><h6 class="countlikes">203</h6></button></div>
<div class="image logos-img blur-load hidden-img" data-name="Gods"><span><img loading="lazy" src="images/black-backGround.png" data-src="images/kedarnath_tample-2a25ff8a-e6ad-454f-bc30-bbf4e382dfac.jpg" alt=""></span><button class="download-image"><i class="fa fa-download"> </i><i class="fa fa-heart"></i><h6 class="countlikes">890</h6></button></div>
<div class="image logos-img blur-load hidden-img" data-name="Gods"><span><img loading="lazy" src="images/black-backGround.png" data-src="images/kedarnath_tample-9c353fd4-49d8-4503-b350-ae9b24251c00.jpg" alt=""></span><button class="download-image"><i class="fa fa-download"> </i><i class="fa fa-heart"></i><h6 class="countlikes">890</h6></button></div>
<div class="image logos-img blur-load hidden-img" data-name="Gods"><span><img loading="lazy" src="images/black-backGround.png" data-src="images/kedarnath_tample-a86ea2a0-2270-423a-a277-466fc0276218.jpg" alt=""></span><button class="download-image"><i class="fa fa-download"> </i><i class="fa fa-heart"></i><h6 class="countlikes">90</h6></button></div>
<div class="image logos-img blur-load hidden-img" data-name="Gods"><span><img loading="lazy" src="images/black-backGround.png" data-src="images/kedarnath_tample-d0e6204c-e473-4e9f-9bbf-07a1193fbc6f.jpg" alt=""></span><button class="download-image"><i class="fa fa-download"> </i><i class="fa fa-heart"></i><h6 class="countlikes">2k</h6></button></div>
<div class="image logos-img blur-load hidden-img" data-name="Gods"><span><img loading="lazy" src="images/black-backGround.png" data-src="images/Lord-Shiv-Parvati-Images-Lord-Shiva-and-Parvatri-Mata-Photos-Digital-Illustration.jpg.webp" alt=""></span><button class="download-image"><i class="fa fa-download"> </i></button></div>
<div class="image logos-img blur-load hidden-img" data-name="Gods"><span><img loading="lazy" src="images/black-backGround.png" data-src="images/pxfuel (1).jpg" alt=""></span><button class="download-image"><i class="fa fa-download"> </i><i class="fa fa-heart"></i><h6 class="countlikes">1.2k</h6></button><h3>Lord Shiva Image with snake</h3></div>
<div class="image logos-img blur-load hidden-img" data-name="Gods"><span><img loading="lazy" src="images/black-backGround.png" data-src="images/pxfuel (2).jpg" alt=""></span><button class="download-image"><i class="fa fa-download"> </i><i class="fa fa-heart"></i><h6 class="countlikes">102k</h6></button></div>
<div class="image logos-img blur-load hidden-img" data-name="Gods"><span><img loading="lazy" src="images/black-backGround.png" data-src="images/pxfuel (3).jpg" alt=""></span><button class="download-image"><i class="fa fa-download"> </i><i class="fa fa-heart"></i><h6 class="countlikes">12k</h6></button><h3>Lord Shiva Image</h3></div>
<div class="image logos-img blur-load hidden-img" data-name="Gods"><span><img loading="lazy" src="images/black-backGround.png" data-src="images/pxfuel (4).jpg" alt=""></span><button class="download-image"><i class="fa fa-download"> </i><i class="fa fa-heart"></i><h6 class="countlikes">21k</h6></button><h3>Lord Shiva with Moon</h3></div>
<div class="image logos-img blur-load hidden-img" data-name="Gods"><span><img loading="lazy" src="images/black-backGround.png" data-src="images/pxfuel (5).jpg" alt=""></span><button class="download-image"><i class="fa fa-download"> </i><i class="fa fa-heart"></i><h6 class="countlikes">21.1k</h6></button></div>
<div class="image logos-img blur-load hidden-img" data-name="Gods"><span><img loading="lazy" src="images/black-backGround.png" data-src="images/pxfuel (5).jpg" alt=""></span><button class="download-image"><i class="fa fa-download"> </i><i class="fa fa-heart"></i><h6 class="countlikes">27.1k</h6></button></div>
<div class="image logos-img blur-load hidden-img" data-name="Gods"><span><img loading="lazy" src="images/black-backGround.png" data-src="images/pxfuel (6).jpg" alt=""></span><button class="download-image"><i class="fa fa-download"> </i><i class="fa fa-heart"></i><h6 class="countlikes">9.2k</h6></button><h3>Lord Shiva Image</h3></div>
<div class="image logos-img blur-load hidden-img" data-name="Gods"><span><img loading="lazy" src="images/black-backGround.png" data-src="images/pxfuel (6).jpg" alt=""></span><button class="download-image"><i class="fa fa-download"> </i><i class="fa fa-heart"></i><h6 class="countlikes">4k</h6></button></div>
<div class="image logos-img blur-load hidden-img" data-name="Gods"><span><img loading="lazy" src="images/black-backGround.png" data-src="images/pxfuel (7).jpg" alt=""></span><button class="download-image"><i class="fa fa-download"> </i><i class="fa fa-heart"></i><h6 class="countlikes">200</h6></button></div>
<div class="image logos-img blur-load hidden-img" data-name="Gods"><span><img loading="lazy" src="images/black-backGround.png" data-src="images/pxfuel (7).jpg" alt=""></span><button class="download-image"><i class="fa fa-download"> </i><i class="fa fa-heart"></i><h6 class="countlikes">400</h6></button><h3>Lord Shiva Image</h3></div>
<div class="image logos-img blur-load hidden-img" data-name="Gods"><span><img loading="lazy" src="images/black-backGround.png" data-src="images/pxfuel (8).jpg" alt=""></span><button class="download-image"><i class="fa fa-download"> </i><i class="fa fa-heart"></i><h6 class="countlikes">136</h6></button></div>
<div class="image logos-img blur-load hidden-img" data-name="Gods"><span><img loading="lazy" src="images/black-backGround.png" data-src="images/pxfuel (9).jpg" alt=""></span><button class="download-image"><i class="fa fa-download"> </i><i class="fa fa-heart"></i><h6 class="countlikes">1.2k</h6></button></div>
<div class="image logos-img blur-load hidden-img" data-name="Gods"><span><img loading="lazy" src="images/black-backGround.png" data-src="images/pxfuel (10).jpg" alt=""></span><button class="download-image"><i class="fa fa-download"> </i><i class="fa fa-heart"></i><h6 class="countlikes">2.5k</h6></button><h3>Lord Shiva Image</h3></div>
<div class="image logos-img blur-load hidden-img" data-name="Gods"><span><img loading="lazy" src="images/black-backGround.png" data-src="images/pxfuel (11).jpg" alt=""></span><button class="download-image"><i class="fa fa-download"> </i><i class="fa fa-heart"></i><h6 class="countlikes">3.2k</h6></button></div>
<div class="image logos-img blur-load hidden-img" data-name="Gods"><span><img loading="lazy" src="images/black-backGround.png" data-src="images/pxfuel (12).jpg" alt=""></span><button class="download-image"><i class="fa fa-download"> </i><i class="fa fa-heart"></i><h6 class="countlikes">9.2k</h6></button></div>
<div class="image logos-img blur-load hidden-img" data-name="Gods"><span><img loading="lazy" src="images/black-backGround.png" data-src="images/pxfuel (13).jpg" alt=""></span><button class="download-image"><i class="fa fa-download"> </i><i class="fa fa-heart"></i><h6 class="countlikes">1.2k</h6></button></div>
<div class="image logos-img blur-load hidden-img" data-name="Gods"><span><img loading="lazy" src="images/black-backGround.png" data-src="images/pxfuel (14).jpg" alt=""></span><button class="download-image"><i class="fa fa-download"> </i><i class="fa fa-heart"></i><h6 class="countlikes">4.2k</h6></button></div>
<div class="image logos-img blur-load hidden-img" data-name="Gods"><span><img loading="lazy" src="images/black-backGround.png" data-src="images/pxfuel (15).jpg" alt=""></span><button class="download-image"><i class="fa fa-download"> </i><i class="fa fa-heart"></i><h6 class="countlikes">7.2k</h6></button></div>
<div class="image logos-img blur-load hidden-img" data-name="Gods"><span><img loading="lazy" src="images/black-backGround.png" data-src="images/pxfuel (16).jpg" alt=""></span><button class="download-image"><i class="fa fa-download"> </i><i class="fa fa-heart"></i><h6 class="countlikes">1.2k</h6></button></div>
<div class="image logos-img blur-load hidden-img" data-name="Gods"><span><img loading="lazy" src="images/black-backGround.png" data-src="images/pxfuel (17).jpg" alt=""></span><button class="download-image"><i class="fa fa-download"> </i><i class="fa fa-heart"></i><h6 class="countlikes">12k</h6></button></div>
<div class="image logos-img blur-load hidden-img" data-name="Gods"><span><img loading="lazy" src="images/black-backGround.png" data-src="images/pxfuel (18).jpg" alt=""></span><button class="download-image"><i class="fa fa-download"> </i><i class="fa fa-heart"></i><h6 class="countlikes">22k</h6></button></div>
<div class="image logos-img blur-load hidden-img" data-name="Gods"><span><img loading="lazy" src="images/black-backGround.png" data-src="images/pxfuel (19).jpg" alt=""></span><button class="download-image"><i class="fa fa-download"> </i><i class="fa fa-heart"></i><h6 class="countlikes">2.2k</h6></button></div>
<div class="image logos-img blur-load hidden-img" data-name="Gods"><span><img loading="lazy" src="images/black-backGround.png" data-src="images/pxfuel (20).jpg" alt=""></span><button class="download-image"><i class="fa fa-download"> </i><i class="fa fa-heart"></i><h6 class="countlikes">11.2k</h6></button></div>
<div class="image logos-img blur-load hidden-img" data-name="Gods"><span><img loading="lazy" src="images/black-backGround.png" data-src="images/pxfuel (21).jpg" alt=""></span><button class="download-image"><i class="fa fa-download"> </i><i class="fa fa-heart"></i><h6 class="countlikes">12.2k</h6></button><h3>Lord Shiva Image</h3></div>
<div class="image logos-img blur-load hidden-img" data-name="Gods"><span><img loading="lazy" src="images/black-backGround.png" data-src="images/pxfuel (22).jpg" alt=""></span><button class="download-image"><i class="fa fa-download"> </i><i class="fa fa-heart"></i><h6 class="countlikes">3.2k</h6></button></div>
<div class="image logos-img blur-load hidden-img" data-name="Gods"><span><img loading="lazy" src="images/black-backGround.png" data-src="images/pxfuel (23).jpg" alt=""></span><button class="download-image"><i class="fa fa-download"> </i><i class="fa fa-heart"></i><h6 class="countlikes">8.2k</h6></button></div>
<div class="image logos-img blur-load hidden-img" data-name="Gods"><span><img loading="lazy" src="images/black-backGround.png" data-src="images/pxfuel (24).jpg" alt=""></span><button class="download-image"><i class="fa fa-download"> </i><i class="fa fa-heart"></i><h6 class="countlikes">9.2k</h6></button></div>
<div class="image logos-img blur-load hidden-img" data-name="Gods"><span><img loading="lazy" src="images/black-backGround.png" data-src="images/pxfuel (25).jpg" alt=""></span><button class="download-image"><i class="fa fa-download"> </i><i class="fa fa-heart"></i><h6 class="countlikes">8.2k</h6></button></div>
<div class="image logos-img blur-load hidden-img" data-name="Gods"><span><img loading="lazy" src="images/black-backGround.png" data-src="images/pxfuel (26).jpg" alt=""></span><button class="download-image"><i class="fa fa-download"> </i><i class="fa fa-heart"></i><h6 class="countlikes">2.2k</h6></button></div>
<div class="image logos-img blur-load hidden-img" data-name="Gods"><span><img loading="lazy" src="images/black-backGround.png" data-src="images/pxfuel (27).jpg" alt=""></span><button class="download-image"><i class="fa fa-download"> </i><i class="fa fa-heart"></i><h6 class="countlikes">2.1k</h6></button></div>
<div class="image logos-img blur-load hidden-img" data-name="Gods"><span><img loading="lazy" src="images/black-backGround.png" data-src="images/pxfuel (28).jpg" alt=""></span><button class="download-image"><i class="fa fa-download"> </i><i class="fa fa-heart"></i><h6 class="countlikes">2.5k</h6></button></div>
<div class="image logos-img blur-load hidden-img" data-name="Gods"><span><img loading="lazy" src="images/black-backGround.png" data-src="images/pxfuel (29).jpg" alt=""></span><button class="download-image"><i class="fa fa-download"> </i><i class="fa fa-heart"></i><h6 class="countlikes">12.2k</h6></button></div>
<div class="image logos-img blur-load hidden-img" data-name="Gods"><span><img loading="lazy" src="images/black-backGround.png" data-src="images/pxfuel (30).jpg" alt=""></span><button class="download-image"><i class="fa fa-download"> </i><i class="fa fa-heart"></i><h6 class="countlikes">2.12k</h6></button></div>
<div class="image logos-img blur-load hidden-img" data-name="Gods"><span><img loading="lazy" src="images/black-backGround.png" data-src="images/pxfuel (31).jpg" alt=""></span><button class="download-image"><i class="fa fa-download"> </i><i class="fa fa-heart"></i><h6 class="countlikes">12.2k</h6></button><h3>Lord Shiva Image</h3></div>
<div class="image logos-img blur-load hidden-img" data-name="Gods"><span><img loading="lazy" src="images/black-backGround.png" data-src="images/pxfuel (32).jpg" alt=""></span><button class="download-image"><i class="fa fa-download"> </i><i class="fa fa-heart"></i><h6 class="countlikes">21.2k</h6></button></div>
<div class="image logos-img blur-load hidden-img" data-name="Gods"><span><img loading="lazy" src="images/black-backGround.png" data-src="images/pxfuel (33).jpg" alt=""></span><button class="download-image"><i class="fa fa-download"> </i><i class="fa fa-heart"></i><h6 class="countlikes">21.1k</h6></button></div>
<div class="image logos-img blur-load hidden-img" data-name="Gods"><span><img loading="lazy" src="images/black-backGround.png" data-src="images/pxfuel (34).jpg" alt=""></span><button class="download-image"><i class="fa fa-download"> </i><i class="fa fa-heart"></i><h6 class="countlikes">24.1k</h6></button></div>
<div class="image logos-img blur-load hidden-img" data-name="Gods"><span><img loading="lazy" src="images/black-backGround.png" data-src="images/pxfuel (35).jpg" alt=""></span><button class="download-image"><i class="fa fa-download"> </i><i class="fa fa-heart"></i><h6 class="countlikes">12k</h6></button></div>
<div class="image logos-img blur-load hidden-img" data-name="Gods"><span><img loading="lazy" src="images/black-backGround.png" data-src="images/pxfuel (36).jpg" alt=""></span><button class="download-image"><i class="fa fa-download"> </i><i class="fa fa-heart"></i><h6 class="countlikes">20k</h6></button></div>
<div class="image logos-img blur-load hidden-img" data-name="Gods"><span><img loading="lazy" src="images/black-backGround.png" data-src="images/pxfuel.jpg" alt=""></span><button class="download-image"><i class="fa fa-download"> </i><i class="fa fa-heart"></i><h6 class="countlikes">2k</h6></button></div>
<div class="image logos-img blur-load hidden-img" data-name="Gods"><span><img loading="lazy" src="images/black-backGround.png" data-src="images/somnath_tample-f0886c7d-09b5-44cc-a7c1-ba74ce7f74cc.jpg" alt=""></span><button class="download-image"><i class="fa fa-download"> </i><i class="fa fa-heart"></i><h6 class="countlikes">9.2k</h6></button></div>
<div class="image logos-img blur-load hidden-img" data-name="Gods"><span><img loading="lazy" src="images/black-backGround.png" data-src="images/img-6.jpg" alt=""></span><button class="download-image"><i class="fa fa-download"> </i><i class="fa fa-heart"></i><h6 class="countlikes">3.2k</h6></button></div>
<!--Cricketers-->
<div class="image logos-img blur-load hidden-img" data-name="Cricketers"><span><img loading="lazy" src="images/black-backGround.png" data-src="images/desktop-wallpaper-1-ms-dhoni-ms-dhoni-full-screen.jpg" alt=""></span><button class="download-image"><i class="fa fa-download"> </i><i class="fa fa-heart"></i><h6 class="countlikes">102</h6></button><h3>Mahendra singh dhoni World cup Image</h3></div>
<div class="image logos-img blur-load hidden-img" data-name="Cricketers"><span><img loading="lazy" src="images/black-backGround.png" data-src="images/desktop-wallpaper-7-ms-dhoni-ms-dhoni.jpg" alt=""></span><button class="download-image"><i class="fa fa-download"> </i><i class="fa fa-heart"></i><h6 class="countlikes">2.1k</h6></button><h3>Mahendra singh dhoni</h3></div>
<div class="image logos-img blur-load hidden-img" data-name="Cricketers"><span><img loading="lazy" src="images/black-backGround.png" data-src="images/desktop-wallpaper-asw7nram-on-twitter-ms-dhoni-csk.jpg" alt=""></span><button class="download-image"><i class="fa fa-download"> </i><i class="fa fa-heart"></i><h6 class="countlikes">2.7k</h6></button></div>
<div class="image logos-img blur-load hidden-img" data-name="Cricketers"><span><img loading="lazy" src="images/black-backGround.png" data-src="images/desktop-wallpaper-careers-dhoni-nature-ms-dhoni-csk-2021-thumbnail.jpg" alt=""></span><button class="download-image"><i class="fa fa-download"> </i><i class="fa fa-heart"></i><h6 class="countlikes">101</h6></button><h3>Mahendra singh dhoni chennai team </h3></div>
<div class="image logos-img blur-load hidden-img" data-name="Cricketers"><span><img loading="lazy" src="images/black-backGround.png" data-src="images/desktop-wallpaper-chandan-verma-on-ms-dhoni-dhoni-and-rohit-thumbnail.jpg" alt=""></span><button class="download-image"><i class="fa fa-download"> </i><i class="fa fa-heart"></i><h6 class="countlikes">1.2k</h6></button><h3>Mahendra singh dhoni, virat kohli, rohit sharma</h3></div>
<div class="image logos-img blur-load hidden-img" data-name="Cricketers"><span><img loading="lazy" src="images/black-backGround.png" data-src="images/desktop-wallpaper-csk-ms-dhoni-pc-mahendra-singh-dhoni.jpg" alt=""></span><button class="download-image"><i class="fa fa-download"> </i><i class="fa fa-heart"></i><h6 class="countlikes">9k</h6></button></div>
<div class="image logos-img blur-load hidden-img" data-name="Cricketers"><span><img loading="lazy" src="images/black-backGround.png" data-src="images/desktop-wallpaper-dhoni-rohit-fans-fight-virender-sehwag-angry-fight-with-ms-dhoni-and-rohit-sharma-fans-said-dhoni-and-rohit-thumbnail.jpg" alt=""></span><button class="download-image"><i class="fa fa-download"> </i><i class="fa fa-heart"></i><h6 class="countlikes">11</h6></button></div>
<div class="image logos-img blur-load hidden-img" data-name="Cricketers"><span><img loading="lazy" src="images/black-backGround.png" data-src="images/desktop-wallpaper-for-computer-ms-dhoni-dhoni-csk.jpg" alt=""></span><button class="download-image"><i class="fa fa-download"> </i><i class="fa fa-heart"></i><h6 class="countlikes">20</h6></button><h3>Mahendra singh dhoni</h3><h3>Mahendra singh dhoni</h3></div>
<div class="image logos-img blur-load hidden-img" data-name="Cricketers"><span><img loading="lazy" src="images/black-backGround.png" data-src="images/desktop-wallpaper-ipl-2021-virat-kohli-ms-dhoni-s-bromance-goes-viral-see-pics-ms-dhoni-and-virat-kohli.jpg" alt=""></span><button class="download-image"><i class="fa fa-download"> </i><i class="fa fa-heart"></i><h6 class="countlikes">500</h6></button><h3>Mahendra singh dhoni</h3></div>
<div class="image logos-img blur-load hidden-img" data-name="Cricketers"><span><img loading="lazy" src="images/black-backGround.png" data-src="images/desktop-wallpaper-m-s-dhoni-with-indian-cricket-team-ms-dhoni-thumbnail.jpg" alt=""></span><button class="download-image"><i class="fa fa-download"> </i><i class="fa fa-heart"></i><h6 class="countlikes">2k</h6></button></div>
<div class="image logos-img blur-load hidden-img" data-name="Cricketers"><span><img loading="lazy" src="images/black-backGround.png" data-src="images/desktop-wallpaper-ms-dhoni-and-his-love-respect-for-the-indian-armed-forces-dhoni-army-thumbnail.jpg" alt=""></span><button class="download-image"><i class="fa fa-download"> </i><i class="fa fa-heart"></i><h6 class="countlikes">200</h6></button><h3>Mahendra singh dhoni</h3></div>
<div class="image logos-img blur-load hidden-img" data-name="Cricketers"><span><img loading="lazy" src="images/black-backGround.png" data-src="images/desktop-wallpaper-ms-dhoni-and-suresh-raina-added-144-for-the-fifth-wicket-dhoni-and-raina-thumbnail.jpg" alt=""></span><button class="download-image"><i class="fa fa-download"> </i><i class="fa fa-heart"></i><h6 class="countlikes">4k</h6></button></div>
<div class="image logos-img blur-load hidden-img" data-name="Cricketers"><span><img loading="lazy" src="images/black-backGround.png" data-src="images/desktop-wallpaper-ms-dhoni-army-ms-dhoni-thumbnail.jpg" alt=""></span><button class="download-image"><i class="fa fa-download"> </i><i class="fa fa-heart"></i><h6 class="countlikes">12k</h6></button></div>
<div class="image logos-img blur-load hidden-img" data-name="Cricketers"><span><img loading="lazy" src="images/black-backGround.png" data-src="images/desktop-wallpaper-ms-dhoni-best-whatsapp-dp-status-thumbnail.jpg" alt=""></span><button class="download-image"><i class="fa fa-download"> </i><i class="fa fa-heart"></i><h6 class="countlikes">6k</h6></button></div>
<div class="image logos-img blur-load hidden-img" data-name="Cricketers"><span><img loading="lazy" src="images/black-backGround.png" data-src="images/desktop-wallpaper-ms-dhoni-chennai-super-kings-dhoni-ms-dhoni-dhoni-csk.jpg" alt=""></span><button class="download-image"><i class="fa fa-download"> </i><i class="fa fa-heart"></i><h6 class="countlikes">5k</h6></button><h3>Mahendra singh dhoni Image</h3></div>
<div class="image logos-img blur-load hidden-img" data-name="Cricketers"><span><img loading="lazy" src="images/black-backGround.png" data-src="images/desktop-wallpaper-ms-dhoni-csk-ms-dhoni.jpg" alt=""></span><button class="download-image"><i class="fa fa-download"> </i><i class="fa fa-heart"></i><h6 class="countlikes">7</h6></button></div>
<div class="image logos-img blur-load hidden-img" data-name="Cricketers"><span><img loading="lazy" src="images/black-backGround.png" data-src="images/desktop-wallpaper-ms-dhoni-csk-nd-android.jpg" alt=""></span><button class="download-image"><i class="fa fa-download"> </i><i class="fa fa-heart"></i><h6 class="countlikes">120</h6></button></div>
<div class="image logos-img blur-load hidden-img" data-name="Cricketers"><span><img loading="lazy" src="images/black-backGround.png" data-src="images/desktop-wallpaper-ms-dhoni-csk-players-celebrate-ipl-2021-title-win-with-their-wives-kids-in-thala-style-csk-champions-thumbnail.jpg" alt=""></span><button class="download-image"><i class="fa fa-download"> </i><i class="fa fa-heart"></i><h6 class="countlikes">2k</h6></button></div>
<div class="image logos-img blur-load hidden-img" data-name="Cricketers"><span><img loading="lazy" src="images/black-backGround.png" data-src="images/desktop-wallpaper-ms-dhoni-dhoni-csk-full-screen.jpg" alt=""></span><button class="download-image"><i class="fa fa-download"> </i><i class="fa fa-heart"></i><h6 class="countlikes">900</h6></button></div>
<div class="image logos-img blur-load hidden-img" data-name="Cricketers"><span><img loading="lazy" src="images/black-backGround.png" data-src="images/desktop-wallpaper-ms-dhoni-fans-trend-ahead-of-csk-vs-mi-ipl-2020-opener-ipl-champions-thumbnail.jpg" alt=""></span><button class="download-image"><i class="fa fa-download"> </i><i class="fa fa-heart"></i><h6 class="countlikes">2k</h6></button><h3>Mahendra singh dhoni Picture</h3></div>
<div class="image logos-img blur-load hidden-img" data-name="Cricketers"><span><img loading="lazy" src="images/black-backGround.png" data-src="images/desktop-wallpaper-ms-dhoni-full-screen-ms-dhoni.jpg" alt=""></span><button class="download-image"><i class="fa fa-download"> </i><i class="fa fa-heart"></i><h6 class="countlikes">600</h6></button></div>
<div class="image logos-img blur-load hidden-img" data-name="Cricketers"><span><img loading="lazy" src="images/black-backGround.png" data-src="images/desktop-wallpaper-ms-dhoni-hardik-pandya-looks-dazzling-at-deepika-thumbnail.jpg" alt=""></span><button class="download-image"><i class="fa fa-download"> </i><i class="fa fa-heart"></i><h6 class="countlikes">1.1k</h6></button></div>
<div class="image logos-img blur-load hidden-img" data-name="Cricketers"><span><img loading="lazy" src="images/black-backGround.png" data-src="images/desktop-wallpaper-ms-dhoni-in-2020-dhoni-india.jpg" alt=""></span><button class="download-image"><i class="fa fa-download"> </i><i class="fa fa-heart"></i><h6 class="countlikes">1000</h6></button></div>
<div class="image logos-img blur-load hidden-img" data-name="Cricketers"><span><img loading="lazy" src="images/black-backGround.png" data-src="images/desktop-wallpaper-ms-dhoni-in-2020-dhoni-india.jpg" alt=""></span><button class="download-image"><i class="fa fa-download"> </i><i class="fa fa-heart"></i><h6 class="countlikes">2k</h6></button></div>
<div class="image logos-img blur-load hidden-img" data-name="Cricketers"><span><img loading="lazy" src="images/black-backGround.png" data-src="images/desktop-wallpaper-ms-dhoni-in-csk-team-full-dhoni-csk.jpg" alt=""></span><button class="download-image"><i class="fa fa-download"> </i><i class="fa fa-heart"></i><h6 class="countlikes">100</h6></button></div>
<div class="image logos-img blur-load hidden-img" data-name="Cricketers"><span><img loading="lazy" src="images/black-backGround.png" data-src="images/desktop-wallpaper-ms-dhoni-ipl-2021-and-mobile.jpg" alt=""></span><button class="download-image"><i class="fa fa-download"> </i><i class="fa fa-heart"></i><h6 class="countlikes">3k</h6></button></div>
<div class="image logos-img blur-load hidden-img" data-name="Cricketers"><span><img loading="lazy" src="images/black-backGround.png" data-src="images/desktop-wallpaper-ms-dhoni-live-collections-of-dhoni-3d-thumbnail.jpg" alt=""></span><button class="download-image"><i class="fa fa-download"> </i><i class="fa fa-heart"></i><h6 class="countlikes">2k</h6></button></div>
<div class="image logos-img blur-load hidden-img" data-name="Cricketers"><span><img loading="lazy" src="images/black-backGround.png" data-src="images/desktop-wallpaper-ms-dhoni-ms-dhoni-new-indain-caption-ms-ms-dhoni.jpg" alt=""></span><button class="download-image"><i class="fa fa-download"> </i><i class="fa fa-heart"></i><h6 class="countlikes">7k</h6></button></div>
<div class="image logos-img blur-load hidden-img" data-name="Cricketers"><span><img loading="lazy" src="images/black-backGround.png" data-src="images/desktop-wallpaper-ms-dhoni-ms-dhoni-wicketkeeper-wicket-keeper.jpg" alt=""></span><button class="download-image"><i class="fa fa-download"> </i><i class="fa fa-heart"></i><h6 class="countlikes">2k</h6></button></div>
<div class="image logos-img blur-load hidden-img" data-name="Cricketers"><span><img loading="lazy" src="images/black-backGround.png" data-src="images/desktop-wallpaper-ms-dhoni-ms-dhoni.jpg" alt=""></span><button class="download-image"><i class="fa fa-download"> </i><i class="fa fa-heart"></i><h6 class="countlikes">2k</h6></button></div>
<div class="image logos-img blur-load hidden-img" data-name="Cricketers"><span><img loading="lazy" src="images/black-backGround.png" data-src="images/desktop-wallpaper-ms-dhoni-retirement-news-virat-kohli-tweet-sparks-ms-dhoni-virat-and-dhoni.jpg" alt=""></span><button class="download-image"><i class="fa fa-download"> </i><i class="fa fa-heart"></i><h6 class="countlikes">2k</h6></button><h3>Mahendra singh dhoni (Thala)</h3></div>
<div class="image logos-img blur-load hidden-img" data-name="Cricketers"><span><img loading="lazy" src="images/black-backGround.png" data-src="images/desktop-wallpaper-ms-dhoni-shares-emotional-moment-with-wife-sakshi-daughter-csk-dhoni-thumbnail.jpg" alt=""></span><button class="download-image"><i class="fa fa-download"> </i><i class="fa fa-heart"></i><h6 class="countlikes">2k</h6></button><h3>Mahendra singh dhoni (Thala) with doughter</h3></div>
<div class="image logos-img blur-load hidden-img" data-name="Cricketers"><span><img loading="lazy" src="images/black-backGround.png" data-src="images/desktop-wallpaper-ms-dhoni-sports-jersey-sports-gear.jpg" alt=""></span><button class="download-image"><i class="fa fa-download"> </i><i class="fa fa-heart"></i><h6 class="countlikes">2k</h6></button></div>
<div class="image logos-img blur-load hidden-img" data-name="Cricketers"><span><img loading="lazy" src="images/black-backGround.png" data-src="images/desktop-wallpaper-ms-dhoni-thala-cricket-dhoni-ms-dhoni-cricket.jpg" alt=""></span><button class="download-image"><i class="fa fa-download"> </i><i class="fa fa-heart"></i><h6 class="countlikes">2k</h6></button><h3>Thala Poster</h3></div>
<div class="image logos-img blur-load hidden-img" data-name="Cricketers"><span><img loading="lazy" src="images/black-backGround.png" data-src="images/desktop-wallpaper-ms-dhoni-thala-dhoni-thumbnail.jpg" alt=""></span><button class="download-image"><i class="fa fa-download"> </i><i class="fa fa-heart"></i><h6 class="countlikes">20k</h6></button><h3>Thala Poster</h3></div>
<div class="image logos-img blur-load hidden-img" data-name="Cricketers"><span><img loading="lazy" src="images/black-backGround.png" data-src="images/desktop-wallpaper-msdhoni-ms-dhoni-csk.jpg" alt=""></span><button class="download-image"><i class="fa fa-download"> </i><i class="fa fa-heart"></i><h6 class="countlikes">1k</h6></button></div>
<div class="image logos-img blur-load hidden-img" data-name="Cricketers"><span><img loading="lazy" src="images/black-backGround.png" data-src="images/desktop-wallpaper-neha-s-kumar-on-❤️vk-1805❤️-ms-dhoni-ms-dhoni-virat-kohli-instagram-ms-dhoni-and-virat-kohli.jpg" alt=""></span><button class="download-image"><i class="fa fa-download"> </i><i class="fa fa-heart"></i><h6 class="countlikes">2k</h6></button><h3>Mahendra singh dhoni Pic</h3></div>
<div class="image logos-img blur-load hidden-img" data-name="Cricketers"><span><img loading="lazy" src="images/black-backGround.png" data-src="images/desktop-wallpaper-pin-on-ms-dhoni-ms-dhoni-quotes.jpg" alt=""></span><button class="download-image"><i class="fa fa-download"> </i><i class="fa fa-heart"></i><h6 class="countlikes">12k</h6></button></div>
<div class="image logos-img blur-load hidden-img" data-name="Cricketers"><span><img loading="lazy" src="images/black-backGround.png" data-src="images/desktop-wallpaper-respect-ms-dhoni-army-thumbnail.jpg" alt=""></span><button class="download-image"><i class="fa fa-download"> </i><i class="fa fa-heart"></i><h6 class="countlikes">2k</h6></button></div>
<div class="image logos-img blur-load hidden-img" data-name="Cricketers"><span><img loading="lazy" src="images/black-backGround.png" data-src="images/desktop-wallpaper-sangram-patil-on-ms-dhoni-dhoni-army-thumbnail.jpg" alt=""></span><button class="download-image"><i class="fa fa-download"> </i><i class="fa fa-heart"></i><h6 class="countlikes">1k</h6></button></div>
<div class="image logos-img blur-load hidden-img" data-name="Cricketers"><span><img loading="lazy" src="images/black-backGround.png" data-src="images/desktop-wallpaper-scarlet-ibis-on-sushant-sushant-singh-rajput-ms-dhoni-thumbnail.jpg" alt=""></span><button class="download-image"><i class="fa fa-download"> </i><i class="fa fa-heart"></i><h6 class="countlikes">2k</h6></button></div>
<div class="image logos-img blur-load hidden-img" data-name="Cricketers"><span><img loading="lazy" src="images/black-backGround.png" data-src="images/desktop-wallpaper-the-captain-ms-dhoni-csk-dhoni.jpg" alt=""></span><button class="download-image"><i class="fa fa-download"> </i><i class="fa fa-heart"></i><h6 class="countlikes">2k</h6></button></div>
<!--Actores-->
<div class="image logos-img blur-load hidden-img" data-name="Actores"><span><img loading="lazy" src="images/black-backGround.png" data-src="images/hrithik.jpg" alt=""></span><button class="download-image"><i class="fa fa-download"></i><i class="fa fa-heart"></i><h6 class="countlikes">2k</h6></button></div>
</div>
<a href="/free_image_d_login">.</a>
</div>
<div class="preview-box">
 <div class="details"><span class="title">Image <p class="current-img">#</p>of <p class="totle-img">6</p></span><span class="icon fas fa-times"></span></div>
 <div class="img-box"><div class="slide prev"><i class="fas fa-angle-left"></i></div><div class="slide next"><i class="fas fa-angle-right"></i></div><img src="" alt=""></div>
</div>
<div class="shadow"></div>
<!--for not this-->
<div class="show-preview-box">
 <div class="show-details"><span class="show-icon fas fa-times"></span></div>
 <div class="show-img-box"><img src="" alt=""></div>
</div>
<div class="show-shadow"></div>
<!--for not this-->
<button onclick="topFunction()" id="myBtn" title="Go to top"><i class="fa-solid fa-caret-up"></i></button>
<link rel="stylesheet" href="css/top.css">
<script src="js/top.js"></script>
<script>
const ImagesGallery = document.querySelectorAll('.gallery .image');
ImagesGallery.forEach(image =>{
 const downloadImages = image.querySelector('.download-image');
 image.addEventListener('mouseover',function(){
     downloadImages.style.opacity = '1';
 });
 image.addEventListener('mouseout',function(){
     downloadImages.style.opacity = '0';
 }); });
const shopingTopImgShowHidden = document.getElementById('imgshowhidden');
const bluedivhidden = document.querySelector('.bluediv');
const wrapper1 = document.querySelector('.wrapper1');
const inputField = document.getElementById('search-input');
window.addEventListener('beforeunload', function() {
  inputField.value = '';
  shopingTopImgShowHidden.style.display = 'block';
  bluedivhidden.style.display = 'block';
  wrapper1.style.margin = '0';
});
function checkSearchParameter() {
    const url = new URL(window.location.href);
    if ((url.searchParams.get('search') == '') || (url.href == "https://mkcoding.online/free_image_download")) {
        shopingTopImgShowHidden.style.display = 'block';
        bluedivhidden.style.display = 'block';
        wrapper1.style.margin = '0';
    } 
    else {
        shopingTopImgShowHidden.style.display = 'none';
        bluedivhidden.style.display = 'none';
        wrapper1.style.margin = '25px 0px 0px 0px';
  };
};
checkSearchParameter();
document.addEventListener('DOMContentLoaded', function() {
const h2Elements = document.querySelectorAll('.image h4');
const linkContainer = document.getElementById('links-container');
linkContainer.addEventListener('click', function(event) {
 if (event.target.tagName === 'A') {
  event.preventDefault();
  const currentURL = 'https://mkcoding.online/free_image_download';
  h2Elements.forEach(h2Element => {
    h2Element.addEventListener('click', function(event) {
      event.preventDefault();
      const h2Value = h2Element.textContent;
      let storedValue = h2Value;
      if(currentURL == 'https://mkcoding.online/free_image_download'){
          updatePage(storedValue, currentURL);
      }
      });
  });
 }
});
function updatePage(page, currentURL) {
 if (currentURL) {
   const url = new URL(currentURL);
   url.searchParams.set('search', page);
   window.location.href = url.toString();
 };
};
});
</script>
</body>
</html>