<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="shortcut icon" type="x-icon" href="M.jpg">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Hindi Stories</title>
    <link rel="stylesheet" href="css/top.css">
    <script src="js/top.js" defer></script>
    <link rel="stylesheet" href="css/blog.css">
    <script src="js/blog.js" defer></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css">
</head>
<body class="light-theme">
<!--preloader start-->
<div id="preloader-preloader">
    <section class="preloader-body-container">
     <div class="preloader-container">
      <div class="preloader-ring"></div><div class="preloader-ring"></div><div class="preloader-ring"></div>
      <div class="preloader-netflix"><span class="preloader-left"></span><span class="preloader-center-1"></span><span class="preloader-center-2"></span><span class="preloader-right"></span></div>
      <span id="preloader-loding"></span>
      <div class="preloader-point-loader"><li class="preloader-ring-loader"></li><li class="preloader-ring-loader"></li><li class="preloader-ring-loader"></li><li class="preloader-ring-loader"></li></div>
     </div>
    </section>
   </div>
   <!--preloader End-->
    <header>
        <h1>Hindi Stories</h1>
        <form id="search-form">
            <div class="search-input">
                <input autocomplete="off" type="text" name="search" id="search-input" placeholder="Type to Search...">
                <div class="icon search-button"><button type="submit"  style="border: none; font-size: 20px;background: none; cursor: pointer;" ><i class="fas fa-search"></i></button></div>
            </div>
         </form>
    </header>
    
<nav id="navbar">
 <ul>
  <li><a href="Shoping">Shoping</a></li><li><a href="free_image_download">Download Images</a></li><li><a href="contactUs">ContactUS</a></li><li><a href="python">Python</a></li><li><a href="EnglishStorys">EnglishStorys</a></li><li><a href="blog">Blogs</a></li>
  <button id="themeToggle" class="loader-css"><i id="themeIcon" class="fas fa-sun"></i></button>
 </ul>
</nav>
<div class="manisection right-links-main">
    <main>
<section>
 <% items.forEach(function(image){   
 %>
 <div class="maindiv" data-name="<%= image.uploadClass %>">
 <h2 name="mainheading_h2" class="mainheading_h2"><a href="#"><%= image.mainheading_h2%></a></h2>
 <p name="mainheading_p" class="mainheading_p">
 <h4 class="gap">
 <%= image.mainheading_p%>
 <span class="read-more">...</span>
 </h4>
 <span name="mainheading_h3" class="hidden-content">
 <h4 class="gap">
 <div class="image-stars">
 <div class="image-stars-a">
 <div id="headingImage" name="mainheading_file_2" class="mainheading_file_2 hidden-img blur-load"><img loading="lazy" src="images/black-backGround.png" data-src="data:image/<%=image.img.contentType%>;base64,
 <%=image.img.data.toString('base64')%>" name="image" /></div>
 </div>
 </div>
 <%= image.mainheading_span_1%>
</h4>
<h4 class="gap"><%= image.mainheading_span_2%></h4>
<h4 class="gap"><%= image.mainheading_span_3%></h4>
<h4 class="gap"><%= image.mainheading_span_4%></h4>
</span>
</p>
</div>
<button class="read-more-btn">Read More</button>
<%
}) %>
</section>
        <section>
            <h2>Introduction of elvish yadav || एल्विश यादव एक प्रसिद्ध भारतीय यूट्यूबर हैं</h2>
            <p>
                <h4 class="gap">
                    एल्विश यादव एक प्रसिद्ध भारतीय यूट्यूबर हैं जिन्हें उनके मनोरंजक और मजेदार कंटेंट के लिए जाना जाता है। उनके अनोखे शैली और चतुराईपूर्ण अभिगम के साथ, उन्होंने सोशल मीडिया प्लेटफॉर्म पर बड़े संख्या में फैन्स अर्जित किए हैं। 14 सितंबर, 1997 को हरियाणा के गुड़गांव में पैदा हुए, एल्विश ने अपना यूट्यूब सफर 2016 में शुरू किया और जल्दी ही युवाओं के बीच अपनी पहचान बना ली।
                    <span class="read-more">...</span>
                </h4>
                <span class="hidden-content"> 
                    <h4 class="gap">
                        <div class="image-stars">
                            <div class="image-stars-a blur-load">
                                <img loading="lazy" src="images/black-backGround.png" data-src="images/elvish yadav-1.jpg" alt="">
                            </div>
                            <div class="image-stars-a blur-load">
                                <img loading="lazy" src="images/black-backGround.png" data-src="images/elvish yadav-2.jpg" alt="">
                            </div>
                        </div>
                        एल्विश यादव के चैनल पर मुख्य रूप से मजेदार वीडियो बनाए जाते हैं जो रोजमर्रा की स्थितियों, रिश्तों और सामाजिक मुद्दों के चारों तरफ होते हैं। उनके बेहतरीन कॉमिक टाइमिंग और कहानी सुनाने की क्षमता ने लाखों दर्शकों के दिल जीत लिए हैं।
                        यूट्यूब के साथ-साथ एल्विश अक्सर इंस्टाग्राम पर भी एक्टिव रहते हैं, जहां वे अपने फैंस के साथ बातचीत करते हैं और उन्हें अपने वीडियो के पीछे की कुछ झलकियां साझा करते हैं।
                        लाखों सब्सक्राइबर्स के साथ, एल्विश यादव ने भारत में शीर्ष यूट्यूबरों में से एक के रूप में अपनी जगह बना ली हैं। उनके वीडियो अक्सर वायरल होते हैं, जिससे उन्हें ऑनलाइन दुनिया में प्रमुख प्रभावितकर्ता बना दिया है।
                        एल्विश का चित्रहीन लोगों पर अद्भुत प्रभाव बनता है जो भारत में उनके यूट्यूब कम्युनिटी के बीच उनकी महत्वपूर्ण संरचना का हिस्सा बन गए हैं।
                    </h4>
                    <h4 class="gap">
                        उनके कॉमिक अभिगम के साथ-साथ, उनके अधिकृतता के चयन युवाओं के बीच उन्हें पसंदीदा बना रहते हैं।
                        उनके यूट्यूब चैनल को चिंतनीय सफलता मिलने के कारण, एल्विश यादव ने कई विभिन्न ब्रांडों के साथ सहयोग और समझौते किए हैं।
                        उनके दृढ समर्पण, मेहनत और मनोरंजक कंटेंट बनाने के प्रति आकर्षण ने उन्हें उनके चारों तरफ के दर्शकों और सम्बंधियों के बीच आदर जिता दिया है।
                        उनके उत्साह, चारिस्मा और सच्चाईपूर्ण व्यक्तित्व के कारण उन्हें उनके दर्शकों द्वारा संबोधित किया जाता है जो भारत में हर वर्ग के लोगों से जुड़ते हैं।
                        एल्विश यादव की सफलता की कहानी एक नए युग के यूट्यूब कंटेंट क्रिएटर्स के लिए प्रेरणा की एक मिसाल है, जो डिजिटल युग में कंटेंट निर्माण के क्षेत्र में महानतम सफलता को प्राप्त करने के संदर्भ में सकारात्मक शक्ति को प्रदर्शित करती है।
                    </h4>
                </span>
            </p>
            <button class="read-more-btn">Read More</button>
        </section>
        <section>
            <h2>Introduction of sahrukh khan || शाहरुख खान, बॉलीवुड के बादशाह और भारतीय सिनेमा के एक प्रमुख अभिनेता हैं।</h2>
            <p>
                <h4 class="gap">
                    शाहरुख खान, बॉलीवुड के बादशाह और भारतीय सिनेमा के एक प्रमुख अभिनेता हैं।
                    उन्हें "किंग खान", "रोमियो खान", और "किरण" जैसे नामों से भी पुकारा जाता है।
                    रंगीन अभिनय, कारिश्मा, और व्यक्तिगतिता में वे अपने क्षेत्र में सर्वश्रेष्ठ माने जाते हैं।
                    शाहरुख को बॉलीवुड के "रॉमांटिक हीरो" के रूप में भी पहचाना जाता है।

                    "दिलवाले दुल्हनिया ले जाएंगे" और "कुछ कुछ होता है" जैसी फिल्में उनके सबसे प्रसिद्ध फिल्में हैं।
                    उनके फिल्मों में उनके दिलचस्प रोमांटिक जोड़ियों के लिए उन्हें याद किया जाता है।
                    शाहरुख खान को विश्वविख्यात बॉलीवुड अभिनेता के रूप में माना जाता है।
                    उन्होंने भारतीय सिनेमा को विश्वस्तरीय पहचान दिलाई है।
                </h4>
                <span class="read-more">...</span>
                <span class="hidden-content"> 
                    <h4 class="gap">
                    <div class="image-stars">
                        <div class="image-stars-a blur-load">
                            <img loading="lazy" src="images/black-backGround.png" data-src="images/sahrukh khan khan -1.jpg" alt="">
                        </div>
                        <div class="image-stars-a blur-load">
                            <img loading="lazy" src="images/black-backGround.png" data-src="images/sahrukh khan khan -2.jpg" alt="">
                        </div>
                    </div>
                   </h4>
                    <br>
                    <h4 class="gap">
                    उनकी कहानी एक आम आदमी से एक विश्वस्तरीय सितारे तक की है।
                    शाहरुख खान को फिल्मों में नए-नए रोल्स के लिए शानदार जोड़ियों के साथ देखने का आनंद होता है।
                    उनके फैंस उन्हें उनके भविष्य की भविष्यवाणी के लिए भी जानते हैं।
                    शाहरुख खान को भारतीय सिनेमा का एक अद्भुत अभिनेता माना जाता है।

                    उन्हें विश्वस्तरीय शानदार डांस मूव्स के लिए उनके फैंस प्यार करते हैं।
                    शाहरुख खान को सिनेमा के राजा के रूप में भी माना जाता है।
                    उन्होंने अपने दिलचस्प आभासी दृश्यों के लिए भी उनकी तारीफ की जाती है।
                    शाहरुख खान की जिंदगी में कई विवाद भी हुए हैं लेकिन उन्होंने विवादों से हर बार सामना किया है।
                    </h4>
                    <h4 class="gap">
                    उन्होंने टीवी रियलिटी शो "कौन बनेगा करोड़पति" का मेज़बानी भी की है।
                    शाहरुख खान को विश्व भर के अभिनेताओं में से एक के रूप में सम्मानित किया गया है।
                    उन्होंने अपने कैरियर में कई पुरस्कार भी जीते हैं।
                    शाहरुख खान को अनेक अभिनेत्रियों के साथ नई जोड़ियों को फिल्म में शामिल करने का शोकिया माना जाता है।

                    उन्होंने भारतीय सिनेमा में जाने वाले अनेक बालकावाद और समाजिक मुद्दों पर फिल्में बनाई हैं।
                    उनकी फिल्म "माई नाम इज़ खान" ने एक समाजिक संदेश दिया और ज़्यादातर पुरस्कार भी जीते।
                    शाहरुख खान को उनके अभिनय के लिए सम्मानित किया गया है।
                    उनकी फिल्मों में कई मशहूर गाने भी हैं जो आज भी लोगों के दिलों में बसे हैं।
                    </h4>
                </span>
            </p>
            <button class="read-more-btn">Read More</button>
        </section>

        <section>
            <h2>Introduction of salman khan || सलमान खान, बॉलीवुड के एक विश्वसनीय और प्रसिद्ध अभिनेता हैं।</h2>
            <p>
                <h4 class="gap">
                    सलमान खान, बॉलीवुड के एक विश्वसनीय और प्रसिद्ध अभिनेता हैं।
                    उनका असली नाम अब्दुल रशीद खान निश्चित करता है।
                    रंगीन अभिनय और व्यक्तिगतिता के लिए वे प्रसिद्ध हैं।
                    माधुरी दीक्षित और करिश्मा कपूर के साथ उनके रोमांटिक स्टार इमेज की पहचान है।
                    <span class="read-more">...</span>
                </h4>
                <span class="hidden-content"> 
                    <h4 class="gap">
                        <div class="image-stars">
                            <div class="image-stars-a blur-load">
                                <img loading="lazy" src="images/black-backGround.png" data-src="images/salman khan -1.jpg" alt="">
                            </div>
                            <div class="image-stars-a blur-load">
                                <img loading="lazy" src="images/black-backGround.png" data-src="images/salman khan -2.jpg" alt="">
                            </div>
                            <div class="image-stars-a blur-load">
                                <img loading="lazy" src="images/black-backGround.png" data-src="images/salman khan -3.jpg" alt="">
                            </div>
                            
                        </div>
                        "मैं हूँ हीरो" और "बाजरंगी भाईजान" जैसी फिल्में उनके सबसे लोकप्रिय हैं।
                         सलमान को "भाईजान" और "सल्लू" के नाम से भी जाना जाता है।
                         उनके शारीरिक रूप से फिट रहने का सीक्रेट उनकी नियमित डाइट और व्यायाम है।
                         उनका दिल काफी खुला है और वे अधिकांश अभिनेता को मदद करते हैं।

                         सलमान खान एक भावुक व्यक्तित्व हैं और कई बार उनकी आंसूओं को अपने फैंस के साथ शेयर किया हैं।
                         उनकी भविष्यवाणियां अपने अनुभव के आधार पर अपने फैंस के बीच प्रसिद्ध हैं।
                         उन्होंने भारतीय फिल्मों के साथ ही हॉलीवुड में भी कुछ फिल्में की हैं।
                         सलमान को अपने नायकीय भूमिकाओं के लिए राष्ट्रीय पुरस्कार से सम्मानित किया गया है।

                         उनके परिवार और दोस्तों को उनकी बेहद परवाह होती है।
                         उन्होंने कई शराब कंपनियों का प्रचार किया है, जिसमें उनका अलग एक फैशन ब्रांड भी है।
                         वे एक स्वयंसेवी अभिनेता भी हैं जिन्होंने अनेक लोगों को आर्थिक मदद भी की है।
                         सलमान खान को भारत के एक सबसे उच्च वेतनवान अभिनेता में से एक के रूप में भी माना जाता है।
                    </h4>
                    <h4 class="gap">
                        उन्होंने कई बड़ी फिल्मों में नई अभिनेत्रियों को अपनी फिल्मों में शामिल किया है।
                        उनके फैंस उनके एक्शन और डायलॉग्स के लिए उन्हें प्यार करते हैं।
                        सलमान खान ने टीवी रियलिटी शो "बिग बॉस" को भी प्रदर्शित किया है।
                        उनका फैंस उनके जनसंपर्क से बेहद प्रभावित होते हैं।

                        सलमान खान को अपनी भविष्यवाणियों के लिए जाना जाता है।
                        उनके बॉयफ्रेंड और गर्लफ्रेंड के बारे में काफी खबरें सामने आती हैं।
                        उनके फैंस उनकी सभी फिल्मों को सफल बनाने के लिए उनके साथ हैं।
                        सलमान खान को दुनिया भर के अभिनेताओं में से एक के रूप में सम्मानित किया गया है।

                        उन्होंने कई सोशल और चैरिटेबल कामों में भी सक्रियता दिखाई है।
                        उन्हें कार से प्यार है और उनके पास कई महंगी कारें हैं।
                        सलमान खान को फिल्मी विश्व में "दाबंग" के रूप में भी जाना जाता है।
                        उन्होंने अपनी फिल्में बनाने के लिए भारत और विदेशी लोकेशन पर काम किया है।

                        सलमान खान ने भारतीय सिनेमा को एक नया आयाम दिया है।
                        उनके फैंस उन्हें उनके शानदार डांस मूव्स के लिए भी प्यार करते हैं।
                        उनके जीवन में कई विवाद भी हुए हैं लेकिन उन्होंने विवादों से हर बार सामना किया है।
                        सलमान खान को विभिन्न पुरस्कार समारोहों में भी सम्मानित किया गया है।
                    </h4>
                    <h4 class="gap">
                        उनके फैंस उनकी ब्लॉकबस्टर फिल्में बार बार देखते हैं।
                        सलमान खान की कुछ फिल्में हिट नहीं हुईं थीं, लेकिन वे हार नहीं माने।
                        उनके फैंस उन्हें एक रियल हीरो के रूप में भी पसंद करते हैं।
                        सलमान खान को आम जनता और फैंस उनके उपकारी दिल के लिए जाना जाता है।

                        उनकी एक्शन सीन्स को देखकर उनके फैंस हर किसी से बदलते हैं।
                        सलमान खान को एक्शन हीरो के रूप में भी जाना जाता है।
                        उनके फैंस उनके स्टाइल और वक्ता व्यक्तिगतिता के लिए उन्हें यादगार बना देते हैं।
                        सलमान खान को भारतीय सिनेमा के सम्राट के रूप में भी जाना जाता है।
                    </h4>
                </span>
            </p>
            <button class="read-more-btn">Read More</button>
        </section>
        <section>
            <h2>Introduction of Amitabh Bachchan || अमिताभ बच्चन, बॉलीवुड के शहंशाह और भारतीय सिनेमा के एक महानायक हैं।
                उन्हें "बिग बी", "अंग्रेजी विंग्ज" और "शहंशाह" जैसे नामों से पुकारा जाता है।
            </h2>
            <p>
                <h4 class="gap">
                    उन्हें "बिग बी", "अंग्रेजी विंग्ज" और "शहंशाह" जैसे नामों से पुकारा जाता है।
                    वे अपने व्यक्तिगत और शक्लता भरे अभिनय के लिए विख्यात हैं।
                    अमिताभ बच्चन को बॉलीवुड के सितारों में सबसे ऊँचे माना जाता है।

                    "शोले" और "दीवार" जैसी फिल्में उनकी अग्रणी फिल्में रही हैं।
                    उन्होंने अपने फिल्मी करियर में अनेक अद्भुत किरदार निभाए हैं।
                    अमिताभ बच्चन को भारतीय सिनेमा के एक अभिनेता के रूप में पहचाना जाता है।
                    उनके अद्भुत अभिनय और वाक्य विनोदी दृश्यों के लिए उन्हें याद किया जाता है।
                    <span class="read-more">...</span>
                </h4>
                <span class="hidden-content"> 
                    <h4 class="gap">
                        उनकी आवाज़ और डायलॉग बोलने की शैली हीरों के रूप में अनूठी है।
                        अमिताभ बच्चन को बॉलीवुड के इतिहास में सबसे आदर्श बापू के रूप में भी माना जाता है।
                        उन्होंने अपने फिल्मों में उच्च सामाजिक संदेश देने के लिए भी प्रसिद्ध हैं।
                        अमिताभ बच्चन को भारतीय सिनेमा में एक संघर्ष के नायक के रूप में भी पुकारा जाता है।

                        उनके प्रतिरोधी अभिनय और भावुक दृश्यों के लिए उन्हें सराहा जाता है।
                        अमिताभ बच्चन की एक आदमी से अभिनय विद्वान तक की कहानी उनके व्यक्तित्व के माध्यम से प्रस्तुत होती है।
                        उन्होंने कई फिल्मों में राष्ट्रीय पुरस्कार सम्मान प्राप्त किये हैं।
                        अमिताभ बच्चन को भारतीय सिनेमा में एक आदर्श और प्रेरणा के स्रोत के रूप में भी माना जाता है।

                        उन्होंने भारतीय सिनेमा में विविध रंग दिखाए हैं और विभिन्न जीवन की अवस्थाओं में काम किया है।
                        उनके फैंस उनके नायकीय और वारदाती अभिनय के लिए उन्हें याद करते हैं।
                        अमिताभ बच्चन को भारतीय सिनेमा के आइकन के रूप में पुकारा जाता है।
                        उन्होंने भारतीय सिनेमा के साथ ही हॉलीवुड में भी कुछ फिल्में की हैं।
                    </h4>
                    <h4 class="gap">
                        <div class="image-stars">
                            <div class="image-stars-a blur-load">
                                <img loading="lazy" src="images/black-backGround.png" data-src="images/amitabh-bachchan-1.jpg" alt="">
                            </div>
                            <div class="image-stars-a blur-load">
                                <img loading="lazy" src="images/black-backGround.png" data-src="images/amitabh-bachchan-2.jpg" alt="">
                            </div>
                        </div>
                        उनके फिल्मों में कई अद्भुत संगीत भी हैं जिन्हें लोग आज भी पसंद करते हैं।
                        अमिताभ बच्चन को भारतीय सिनेमा के एक विचारशील और नये चेहरे के प्रचारक के रूप में भी माना जाता है।
                        उन्होंने भारतीय सिनेमा को अनेक विभिन्न कवियों और लेखकों के काव्यों से भरा है।
                        अमिताभ बच्चन को भारतीय सिनेमा के एक संघर्षी अभिनेता के रूप में भी माना जाता है।

                        उनके फैंस उन्हें उनके उदार दिल के लिए जानते हैं।
                        अमिताभ बच्चन को भारतीय सिनेमा के अभिनेता के रूप में एक लोकप्रिय सितारा माना जाता है।
                        उन्होंने अपने फिल्मों में अद्भुत लोगों के साथ काम किया है जो उन्हें यादगार बना देते हैं।
                        अमिताभ बच्चन को भारतीय सिनेमा में एक सामाजिक एकांकी के रूप में भी माना जाता है।
                    </h4>
                    <h4 class="gap">
                        उन्होंने अपने फिल्मों में बदलती हुई समाज की मुद्दतों को भी दिखाया है।
                        अमिताभ बच्चन को भारतीय सिनेमा में एक दर्शकों का मनोरंजक प्रेरक और मनोरंजनीय एकांकी के रूप में भी पुकारा जाता है।
                        उन्होंने भारतीय सिनेमा के साथ ही टेलीविजन पर भी काम किया है।
                        अमिताभ बच्चन को भारतीय सिनेमा के आदर्श अभिनेता के रूप में भी माना जाता है।
                    </h4>
                </span>
            </p>
            <button class="read-more-btn">Read More</button>
        </section>
    </main>
</div>
<div class="show-preview-box">
    <div class="show-details">
        <span class="show-icon fas fa-times"></span>
    </div>
    <div class="show-img-box">
        <img src="" alt="">
    </div>
</div>
<div class="show-shadow"></div>
<button onclick="topFunction()" id="myBtn" title="Go to top"><i class="fa-solid fa-caret-up"></i></button>
    <footer>
        <p>&copy; 2023 MK Studio. All rights reserved.</p>
    </footer>
</body>
</html>
