<head><title>Real Time Projects</title></head>
<%- include('../partials/navbar2') %>
<!-- Start -->
<% items.forEach(function(item,index){   
%>
<div class="Realmaindiv" data-name="<%= item.uploadClass %>">
 <h2 class="Realmaindiv_h2"><a href=""><%= item.mainheading_h2%></a></h2>
 <h3 class="Realmaindiv_h3"><a href="#"><%= item.mainheading_h3%></a></h3>
 <h4 class="Realmaindiv_h6"><a href=""><%= item.mainheading_h6%></a></h4>
 <div class="hiddenproject">
  <div class="hiddenproject-1">
   <div class="hiddenproject-t1"><textarea cols="30" rows="1" class='html-code'><%= item.textarea_h4 %></textarea></div>
   <div class="hiddenproject-t2"><textarea cols="30" rows="1" class='css-code'><%= item.textarea_h5 %></textarea></div>
   <div class="hiddenproject-t3"><textarea cols="30" rows="1" class='js-code'><%= item.textarea %></textarea></div>
  </div>
 </div>
 <div class="Run-Output" ><button class="Btn-runcode">Start</button><iframe class="Show-output"></iframe></div>
</div>
<% }) %>
<!-- end -->
<button onclick="topFunction()" id="myBtn" title="Go to top"><i class="fa-solid fa-caret-up"></i></button>
<script>
function runcode(RunOutput) {
 let htmlTextarea = RunOutput.querySelector('.hiddenproject-t1 textarea');
 let cssTextarea = RunOutput.querySelector('.hiddenproject-t2 textarea');
 let jsTextarea = RunOutput.querySelector('.hiddenproject-t3 textarea');
 let output = RunOutput.querySelector('.Show-output');
 if (htmlTextarea && cssTextarea && jsTextarea) {
    let htmlcode = htmlTextarea.value;
    let csscode = cssTextarea.value;
    let jscode = jsTextarea.value;
    output.contentDocument.body.innerHTML = htmlcode + "<style>" + csscode + "</style>";
    output.contentWindow.eval(jscode);
    } else {
      console.error('elements not found.');
    }
}
document.addEventListener('DOMContentLoaded', function () {
 document.querySelectorAll('.Realmaindiv').forEach(RunOutput => {
   const BtnRunCode = RunOutput.querySelector('.Btn-runcode');
   const Show_output = RunOutput.querySelector('.Show-output');
   BtnRunCode.addEventListener('click', function () {
   // Hide all other Show_output elements
   document.querySelectorAll('.Run-Output').forEach(otherRunOutput => {
   const otherShowOutput = otherRunOutput.querySelector('.Show-output');
   if (otherRunOutput !== RunOutput) {
    otherShowOutput.style.display = "none";
    BtnRunCode.textContent = "Start";
   }
  });
// Toggle the display of the clicked Show_output element
 if (Show_output.style.display === "block") {
    Show_output.style.display = "none";
    BtnRunCode.textContent = "Start";
 } else {
    Show_output.style.display = "block";
    BtnRunCode.textContent = "Start . . .";
    runcode(RunOutput);
 }
});});});
</script>
<style>body{overflow-y: scroll;overflow-x: hidden;}
body.dark-theme{background: #333;}
body.dark-theme .Realmaindiv_h3 a,body.dark-theme .Realmaindiv_h6 a{color: #f8f8f8;}
</style>
</body>
</html>