<head><title>Upload your Code</title>
    <!-- notes app -->
    <link rel="stylesheet" href="https://unicons.iconscout.com/release/v4.0.0/css/line.css">
    <link rel="stylesheet" href="css/notes_app.css">
    <script src="js/notes_app.js" defer></script>
</head><%- include('../partials/navbar2') %>
<main>
<div class="left-1">
<div class="left-links nav-links">
<a href="/python" class="imageItem" data-name="python">Python</a>
<a href="/WebsiteProject" class="imageItem selectedimageItem" data-name="WebD">Web Development</a>
<a href="/DSA selectedimageItem" class="imageItem" data-name="DSA">Data Structure and Algorithm using python</a>
<a href="/Array" class="imageItem" data-name="Array">Arrays</a>
<a href="/Graph" class="imageItem" data-name="Graph">Graphs</a>
<a href="/HashTable" class="imageItem" data-name="Hash_Table">Hash Tables</a>
<a href="/Heap" class="imageItem" data-name="Heap">Heaps</a>
<a href="/LinkedList" class="imageItem" data-name="LinkedList">Linked Lists</a>
<a href="/Loops" class="imageItem" data-name="Loops">Loops </a>
<a href="/Queue" class="imageItem" data-name="Queue">Queues </a>
<a href="/Stack" class="imageItem" data-name="Stack">Stacks </a>
<a href="/Tree" class="imageItem" data-name="Tree">Trees </a>
<a href="/uploadcode" class="imageItem active" data-name="uploadcode">Upload Code </a>
<a href="/Shoping" class="imageItem selectedimageItem" data-name="Tree">Shoping </a>
<a href="/blog" class="imageItem selectedimageItem" data-name="blog">Blogs </a>
<a href="/hindiStory" class="imageItem selectedimageItem" data-name="hindiStory">Hindi Storys </a>
<a href="/EnglishStorys" class="imageItem selectedimageItem" data-name="EnglishStory">English Storys </a>
<a href="/videoplayer" class="imageItem">Watch videos</a>
<a href="/weeklyContest" class="imageItem selectedimageItem">Weekly Contest</a>
<a href="/WebD-paid-Project" class="imageItem selectedimageItem">WebD paid Project</a>
<a href="/runShowProject" class="imageItem selectedimageItem">WebD Projects</a>
<a href="/realtimeProjects" class="imageItem selectedimageItem">Real Time Projects</a>
<a href="/POTD" class="imageItem selectedimageItem">Problem Of The Day</a>
</div>
<div class="right-links">
<div class="right-links-main">
<h1>Questions</h1>
<div id="links-container">
<% items.forEach(function(image,index){
%>
<div class="maindiv" data-name="<%= image.uploadClass %>">
<h2 class="mainheading_h2"><a class="topQuestions" href=""><%= image.mainheading_h2%></a></h2>
<h2 class="mainheading_h2"><a href="https://mkcoding.online/<%= image.uploadID%>"><%= image.mainheading_h3%></a></h2>
<h2 class="mainheading_h2"><a href="https://mkcoding.online/<%= image.uploadID%>"><%= image.mainheading_h4%></a></h2>
<h2 class="mainheading_h2"><a href="https://mkcoding.online/<%= image.uploadID%>"><%= image.mainheading_h5%></a></h2>
<h2 class="mainheading_h2"><a href="https://mkcoding.online/<%= image.uploadID%>"><%= image.mainheading_h6%></a></h2>
<h2 class="mainheading_h2"><a href="https://mkcoding.online/<%= image.uploadID%>"><%= image.mainheading_p%></a></h2>
<div id="headingImage" name="mainheading_file_2" class="mainheading_file_2 uploadcodeimg hidden-img blur-load"><a href="<%= image.mainheading_h6 %>">
<img loading="lazy" src="images/black-backGround.png" data-src="data:image/<%=image.img.contentType%>;base64,
<%=image.img.data.toString('base64')%>" name="image" />
<button>visit -></button></a></div>
</div>
<% }) %>
</div>
<!--upload code End -->
<div class="maindiv">
<!--popup form html-->
<div class="popup-box"><div class="popup"><div class="content-box">
<header><p>Add a new Code</p><i class="uil uil-times"></i></header>
<form action="#">
<div class="row title"><label>Title of Question</label><input type="text"></div>
<div class="row description"><label>Paste Your Code here</label><textarea class="textarea"></textarea></div>
<button>Add Note</button>
</form>
</div></div></div>
<!--end-->
<div class="wrapper-coding"><li class="add-box"><div class="icon"><i class="uil uil-upload"></i><p>Upload_Code</p>  </div></li></div>
</div>
</div>
<div class="marquee-bottom"><marquee behavior="" direction="left" scrollamount="5" ><div class="div">Mk Studio jaipur rajasthan.</div></marquee></div>
<%- include('../partials/footer') %>
</div></div>
</main>
<script src="js/uploadcodego.js"></script>
<style>
.search-input .icon {right: 8px;}
.loader-css-2 {width: 60px;height: 60px;}
.topQuestions{color: #1a0bf1 !important;}
.footer-2 img{width: 182px;height: 99px;}
.footer-3 img {width: 330px;height: 168px;padding-top: 3px;padding-left: 126px;}
.uploadcodeimg{height: 60%;margin:40px 0 !important;}
.uploadcodeimg img{cursor: pointer !important;}
.mainheading_file_2 a button{padding: 8px 15px;margin-left: -10px;margin-top: -40px;background: #5151ff;color: #fff;border: none;border-radius: 3px;cursor: pointer;}
.mainheading_file_2 a button:hover{background: rgb(24, 24, 253);}
</style>
